mat-card-content {
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
mat-card {
  border-radius: 16px;
  overflow: hidden;
}
.seeMoreButton{
  align-items: center;
}

.event-header-image {
    background-size: cover;
}

.img-aspect-ratio-16-9 {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.event-card-content {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}

.event-card-about {
  display: grid;
}

.event-card-title {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
}

.event-card-description {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}
