@media (max-width: 550px){
  .event-card-fab {
    display: none;
  }
}

mat-card-content {
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
mat-card {
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.25s cubic-bezier(0.2, 0.0, 0, 1.0);
  &:hover{
    color:#fff;
    opacity:1;
    transform:scale(1.04);
    z-index: 10;
   }
}
.seeMoreButton{
  align-items: center;
}

.event-header-image {
    background-size: cover;
}

.img-aspect-ratio-16-9 {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.event-card-content {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}

.event-card-about {
  display: grid;
}

.event-card-title {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.event-card-description {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.event-card-chip {
  height: 28px;
  border-radius: 36px;
  display: flex;
  align-items: center;

  padding: 4px 12px;
  gap: 12px;
  overflow: hidden;

  background: #151118;
  /* M3/Elevation Dark/3 */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.30), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
}
