.color-warn {
  color: var(--mat-form-field-error-text-color)
}

.color-confirm {
   color: #00ac52
 }

.centered-card {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.card {
  display: flex;
  align-items: flex-start;
  max-width: 500px;
  border-radius: 12px;
  gap: 16px;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 16px 0;
}
.card-header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  align-self: stretch;
  width: 100%;
}

.horizontal-list {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

mat-form-field, mat-checkbox {
  width: 100%;
}

.zero-margin {
  margin: 0;
}
