@import "src/app/app.component.scss";

$bg-opacity: 0.15;

.banner {
  display: block;
  padding: calc($card-padding - 4px) $card-padding;
  gap: $card-gap;
  //border-radius: $card-radius $card-radius 0 0;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.banner-error-state {
  .mat-icon {
    color: $error;
  }

  background: rgba($error, $bg-opacity);
}

.banner-warn-state {
  .mat-icon {
    color: $warn;
  }

  background: rgba($warn, $bg-opacity);
}

.banner-success-state {
  .mat-icon {
    color: $success;
  }

  background: rgba($success, $bg-opacity);
}

.banner-neutral-state {
  .mat-icon {
    color: $neutral;
  }

  background: rgba($neutral, $bg-opacity);
}
