<mat-card class="mat-typography auth-card">

<!--  <div class="banner"-->
<!--       *ngIf="loginFailed"-->
<!--       [@inOutAnimation]="loginFailed">-->
<!--    <mat-icon [class.banner-error-state]="loginFailed">close</mat-icon>-->
<!--    <div class="banner-content">-->
<!--      <h2 class="zero-margin">{{ bannerTitle }}</h2>-->
<!--      <div class="white mat-body zero-margin">{{ bannerText }}</div>-->
<!--    </div>-->
<!--  </div>-->

  <app-banner
    [title]="bannerTitle"
    [description]="bannerText"
    [bannerState]="bannerState"
    [visible]="showError || isLoggedIn"
    style="width:100%"/>

  <div class="auth-card-header">
    <mat-icon>login</mat-icon>
    <div class="text-center">
      <p class="zero-margin mat-headline-5">Inloggen</p>
      <p class="zero-margin mat-body-2">Log in met uw TicketSlave account</p>
    </div>
    <button
      mat-stroked-button
      type="button"
      color="primary"
      (click)="goToRegistration.emit(loginForm.controls.email.value)">
      Nog geen account?
    </button>
  </div>


  <mat-card-content class="auth-card-content">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="performLogin()"

      class="auth-form">

      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>E-mailadres</mat-label>
        <input matInput formControlName="email" type="email" name="email" autocomplete="on">
        <mat-error *ngIf="this.loginForm.controls.email.hasError('required')">
          E-mailadres is vereist
        </mat-error>
        <mat-error *ngIf="this.loginForm.controls.email.hasError('EmailNotFound')">
          E-mailadres is niet gevonden
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Wachtwoord</mat-label>
        <input matInput formControlName="password" type="password" name="new-password" autocomplete="on">
        <mat-error *ngIf="this.loginForm.controls.password.hasError('required')">
          Wachtwoord is vereist
        </mat-error>
        <mat-error *ngIf="this.loginForm.controls.password.hasError('IncorrectPassword')">
          Wachtwoord is onjuist
        </mat-error>
      </mat-form-field>

      <div class="flex-row-space">

        <div
          matTooltip="Vul vereiste gegevens in"
          [matTooltipDisabled]="loginForm.valid"
          [matTooltipHideDelay]="500"
          [matTooltipShowDelay]="100">
          <button
            mat-stroked-button
            type="button"
            color="primary">
            Wachtwoord vergeten?
          </button>
        </div>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!loginForm.valid || loading || isLoggedIn">
          <mat-spinner *ngIf="loading" [diameter]="24"/>
          <ng-container *ngIf="!loading">Inloggen</ng-container>
        </button>
      </div>
    </form>

  </mat-card-content>
</mat-card>
