@import "src/styles.scss";

$card-padding: 24px;
$card-gap: 16px;
$card-radius: 16px;
$button-gap: 8px;
.zero-margin {
  margin: 0 !important;
}

.text-center {
  text-align: center;
}

.translucent-white, mat-typography, h1, h2, h3, h4, h5, h6, p, mat-icon, div  {
  color: rgb(255, 255, 255, 0.9);
}

// Hide background of autofill suggestion
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
}


mat-form-field, mat-checkbox {
  width: 100%;
}

.flex-column-center-8 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.flex-row-space {
  display: flex;
  flex-direction: row;
  gap: $button-gap;
  justify-content: space-between;
  align-self: stretch;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  gap: $button-gap;
  justify-content: flex-end;
  align-self: stretch;
}

.margin-center-horizontal {
  margin-left: auto;
  margin-right: auto;
}

.wrapping-horizontal-list {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.glass-card {
  border-radius: $card-radius;
  background: rgba(25, 25, 25, 0.4);
  backdrop-filter: blur(50px);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.08);
  overflow: hidden;

  .glass-card-header {
    width: 100%;
    box-sizing: border-box;
    padding: $card-padding $card-padding $card-gap;
  }

  .glass-card-content {
    padding: $card-padding;
  }
}

.default-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  width: 100%;
  mat-form-field, mat-checkbox {
    width: 100%;
  }
}

#overviewContainer {
  padding: 16px 32px;
}

#gradientContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  z-index: -1;
}

.default-bg{
  background: linear-gradient(rgba(39, 81, 189, 0.40), rgba(39, 81, 189, 0)), #000;
  top: -64px;
  z-index: -1;
}


.mainContainer {
  padding: 80px 32px;
}
