@media (max-width: 400px){
  #cardContainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (max-width: 600px)  and (min-width: 400px){
  #cardContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 1000px) and (min-width:600px) {
  #cardContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1000px) {
  #cardContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

#cardContainer {
  display: grid;
  gap: 12px;
}

/* Adjust the styles of app-event-card */
app-event-card {
  /* Adjust card styles */

}
#overviewContainer {
  padding: 32px;
  /* width: 100%; */
  /*height: 100%; !* Set to full viewport height *!*/
  background: #f0f0f0 fixed; /* Change the background color if needed */
}

