#cardContainer {
  display: flex;
  gap: 8px; /* Adjust spacing between cards */
  justify-content: flex-start; /* Adjust alignment as needed */
  align-items: flex-start; /* Adjust alignment as needed */
  flex-wrap: wrap;
}

/* Adjust the styles of app-event-card */
app-event-card {
  flex: 1 1 300px; /* Adjust card width as needed */
  max-width: calc(33.33% - 20px); /* Adjust for three cards per row with gap included */
  /* Adjust card styles */

}
#eventContainer {
  /* width: 100%; */
  height: 100%; /* Set to full viewport height */
  background-color: #f0f0f0; /* Change the background color if needed */
  display: flex;
  justify-content: left; /* Center content horizontally */
  align-items: flex-start; /* Center content vertically */
  flex-direction: column;
  padding: 0px 156px;
}

